*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition:  0.5s ;
}
:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
  }
/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');

 body{
     display: flex;
     flex-direction: column;

     justify-content:center;
    
     
}
    /* SECTION 1   */
.section-1{
    max-width: 100%;
    width: 1800px;
   
   margin: 0 auto;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--purple-bg);  
}
.section-1  .container header{
    max-width: 1200px;
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.section-1 header .search{
    display: flex; 
} 
.section-1 header .search a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--button-bg);
    width: 70px;
    height: 44px;
    border-radius:  0 10px 10px 0;
} 
.section-1 header input {
    color: white;
    border:none;
    outline: none;
    background: var(--dark-bg);
    border-radius: 10px  0 0 10px;
    width: 230px;
    height:44px;
    padding:10px;

}
.section-1 header input::placeholder {
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}
header  ul {
    width: 400px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
header ul li a{
    text-decoration: none;
    color: #ffff;
    font-size:18px;
    font-weight:400;
    font-family: "Roboto", sans-serif;
}
/*content left*/
.content{
    max-width: 1200px;
    min-width: 920px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:32px 0 64px 0;
}
.content .text-right{
    width: 570px;
    height: 315px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    
    
}
.content .text-right .ver-mais{
    display: flex;
    align-items: center;
    gap: 2px; 
    cursor: pointer;
    justify-content: flex-start;
  
}
.content .text-right .ver-mais a{
 margin-top: 3px;
 transition: all 1s ease;
   
}
.ver-mais a:hover {
    transform: translateX(20px)

}
.content .text-right .textbox{
    width:450px;
}
.content .text-right h1{
  font-size: 36px;
  font-weight:700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 16px;
  color:var(--button-bg);
  line-height: 54px;
}
.content .text-right p{
    font-size: 18px;
    font-weight:400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 24px;
    color:var(--light-purple);
    line-height:24px;
}
.content .text-right label{
    font-size: 18px;
    font-weight:700;
    font-family: 'Roboto', sans-serif;
    color:var(--button-bg);  
    cursor: pointer;
}
.content .text-right label:hover+a{
    transform: translateX(20px)
}

/*content right*/
.content .img-left {
    width:570px;
    height:350px;
    display: flex;
    align-items: center;
    justify-content: center

}

/*divider*/
.diviser{
    background-color: var(--green);
    max-width: 100%;
    width: 1800px;
   margin: 0 auto;
    height: 8px;
}
   
/* SECTION 2   */
.section-2{ 
    max-width: 100%;
    width: 1800px;
    margin: 0 auto;
   
    background: #FBF6FF;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.container{
   max-width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .content{
    width: 100%;
    margin-top:50px;
}
.container .content .main-post{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 560px;
    height:545px;
}
.container .content .main-post .img{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.container .content .main-post .img img{
    width:550px;
    height: 342px
    
}
.container .content .main-post .frame-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
} 
.container .content .main-post .frame-text h2{
    font-size:24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--purple-bg);
    line-height:36px;

}
.container .content .main-post .frame-text p , small {
    font-size:16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000;
    line-height:24px;

    
}
/*side post*/
.container .content .side-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 472px;
   
    gap: 1rem;
    
}
.content .side-post .side-post1{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.content .side-post .side-post1 h2{
    color: var(--purple-bg);
    font-size:24px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    line-height:36px;
 
 }
.content .side-post .side-post1 p , small{
   color: #000;
   font-size:16px;
   font-weight: 400;
   font-family: 'Roboto', sans-serif;
   line-height:24px;

}
.content .side-post .diviser-2{
    
    width:100%;
    background-color: #F2E7FA;
    height:1px;
}

/*Cards notications */
.container .cards{
    max-width: 1200px;
    min-width: 920px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:32px 0 64px 0; 
  
}
.container .cards .card{
    width:370px;
    height: 458px;
    

}
.container .cards .frame-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
} 
   
.container .cards .card .img img{
    width:369px;
    height:259px;
    margin-bottom: .5rem;
}
.cards .card h2{
    color: var(--purple-bg);
    font-size:24px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    line-height:36px;
   

}
.cards .card p , small{
    color: #000;
    font-size:16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height:24px;
   

}
footer{
    height: 80px;
    background: var(--purple-bg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    max-width: 100%;
    width: 1800px;
   margin: 0 auto;
}
footer a{
    text-decoration: none;
    color: white;
    font-weight:700;
    font-size: 16px;
    cursor: pointer;

}
footer a:hover{
 
    color: white;
   

}

/**swiper
.swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.swiper-pagination-bullet{
    width:0.75rem;
    height:0.75rem;
}
.swiper-pagination-bullet-active{
    background: black;
}
*/
@media (max-width: 1600px){
   
    .content > div .featured-img{
        width:500px;
        height:300px;
    }

   .content .text-right{
        width:570px;
        height:350px;
        display: flex;
        justify-content: center
     
    }

}

@media (max-width: 1300px){
    
    .section-1  .container header{
       
        max-width: 980px;
        justify-content:space-around;
    }
    .section-1 header input {
        width: 200px; 
    }
    .section-1 header .search a{
        width: 50px;
    } 
    .content .text-right
    {
        width:570px;
        height:350px;
        display: flex;
        justify-content: center
     
    }
    .content .text-right h1
    {
        font-size: 36px;
        line-height: 45px;  
    }
     
    
    .content .text-right p{
        font-size: 14px;
        margin-bottom: 18px;
       
    }
    
    .content > div .featured-img{
        width:420px;
        height:260px;
    }

    .content .main-post {
        
         width: 520px;
        

    }
        
     
}
@media (max-width: 990px){


    .section-1  .container header ul{
      position:absolute;
      top: 100px;
      margin-bottom: -30px;
    }

    .section-1  .container header{
        justify-content: center;
        gap: 3rem;
    }
    .section-1 .content{
    align-items: center;
    flex-direction: column;
    
    }
    .section-1 .content .text-right
    {
        max-width: 780px;
        justify-content:center;
        align-items:center;
        margin: 0 auto;
        margin-top: -50px;
    }
    .section-1 .content .img-left
    {
        
        max-width: 780px;
        order: -1;
        margin: 0 auto;
    
    }
    .content > div .featured-img{
        width:460px;
        height:280px;
    }
    .section-2 .content{
        flex-direction: column;
        align-items: center;
    }
    .container .content .main-post .img img{
        width:460px;
        height:280px;
        
    }
    .container .content .main-post  .frame-text{
        width:450px;   
        height:285px;
    }
    .container .content .side-post{
        width:460px; 
        
    }.content .side-post .side-post1 h2{
   
        font-size:18px;
        font-weight: 700;
        line-height:24px
     
     }
    .content .side-post .side-post1 p , small{
   
        font-size:14px;
        font-weight: 400;
       
        line-height:18px;
     
     }

    
   
   
   
    

}
@media (max-width: 700px){
    .section-1  .container header ul{
        top: 110px
    
    
    }
    .section-1  .container header {

        height:250px; 
        gap: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-1  .content{
        margin-top: -64px;
    }
    .section-1 header input {
        width: 390px; 
    }
    .section-1 header .search a{
        width: 60px;
    }
    
    .container .cards{
      align-items: center;
        flex-direction: column;
        gap: 2rem;

    }
    .container .card{
        width:550px;
        height: auto;
        display: flex;
      
        flex-direction: column;
  
    }
    .container .cards .card .img{
        display: flex;
        align-items: center;
    }
    .container .cards .card .img img{
        width:460px;
        height:280px;
    }

  



}
